@using BootstrapSupport
@model MiniDropbox.Web.Models.DiskContentModel
@{
    ViewBag.Title = "MyContent";
    Layout = "~/Views/shared/_BootstrapLayout.custumer.cshtml";
}

@{
    ViewBag.Title = "Cargar a 'Mini Dropbox'";
}


<h2>Cargar a 'Dropbox'</h2>

@using (@Html.BeginForm("SubirArchivo", "Disk", FormMethod.Post, new { @class = "form-actions", @enctype = "multipart/form-data" }))
{
    <h2 class="form-signin-heading"></h2>
    <input type="file" name="fichero" />
    <button class="btn btn-small btn-success" type="submit">Cargar</button>
    <br />
    <br /> 
    @Html.ActionLink("Listo", "ListAllContent", "Disk", new { @class = "btn btn-small btn-success" })
}


@*<form  enctype="multipart/form-data" method="post">
    <input type="file" name="fichero" />
    <button class="btn btn-small btn-success" type="submit">Cargar</button>
    <br />
    <br /> 
    @Html.ActionLink("Listo", "ListAllContent", "Disk", new { @class = "btn btn-small btn-success" })
</form>*@