<connectionStrings>
  <add name="MiniDropbox.Local" connectionString="Data Source=ALLEN-PAZ\SQLEXPRESS;Initial Catalog=Minidropbox;User ID=sa;Password=minidropbox123"/>
  <add name="MiniDropbox.Remote" connectionString="Server=81c209f1-a2c5-46c3-8f21-a20a010ae03a.sqlserver.sequelizer.com;Database=db81c209f1a2c546c38f21a20a010ae03a;User ID=egavigcacpuzprol;Password=mT8SxQsVgjAm7nf6aPhd55Qi5LASJdmqAb5NPbqB5nTjW3d2FZ55HEEpcYVUpHmd;"/>
</connectionStrings>