<connectionStrings>
  <!--<add name="MiniDropbox.Local" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=MiniAmazon;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />-->
<add name="MiniDropbox.Local" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MiniAmazon;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  <add name="MiniDropbox.Remote" connectionString="Server=81c209f1-a2c5-46c3-8f21-a20a010ae03a.sqlserver.sequelizer.com;Database=db81c209f1a2c546c38f21a20a010ae03a;User ID=egavigcacpuzprol;Password=mT8SxQsVgjAm7nf6aPhd55Qi5LASJdmqAb5NPbqB5nTjW3d2FZ55HEEpcYVUpHmd;" />
</connectionStrings>
